.navbar-wrapper {
    position: absolute;
    color: red;

}

.navbar {
    
}

.navbar-list {
    position: fixed;
    margin-right: 40px;
    z-index: 3;
    list-style: none;
    right: 0;
}

.navbar-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px 12px;
    border: 1px solid #999;
    border-radius: 42px;
    margin-top: 40px;

    & + & {
        margin-top: 80px;
    }

    & a {
        text-transform: uppercase;
    }

    &.active {
        & a {
            color: red;

        }
    }
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
    z-index: 1;
}