/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  text-align: center;
  color: #fff;
  background-color: #0b0b0b;
  min-height: 100vh;
  padding: 30px;
  font-family: "Segoe UI", sans-serif;
}

.player-card {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #333;
  border-radius: 12px;
  padding: 20px;
  margin: 15px auto;
  max-width: 400px;
  transition: 0.3s;
}

.player-card:hover {
  transform: scale(1.02);
  background: rgba(255, 255, 255, 0.15);
}

h1 {
  color: #61dafb;
  margin-bottom: 20px;
}

h2 {
  color: #ffd700;
}


.btn-group {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}

.done-btn {
  background-color: #4caf50;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.undo-btn {
  background-color: #ff9800;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.task-card {
  
  padding: 16px;
  margin: 16px 0;
  border-radius: 12px;
  border-left: 6px solid #4caf50;
} */
